
/*style heading logo*/
.logo{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
padding-bottom:5%;}

div{
  background-color: #FFFA9D;
    }

/*style nav*/
.container1{ 
  display:flex;
  justify-content:space-around;
  background-color:#FEE440;
  position: -webkitsticky; 
  position: sticky;
  top:0;
  padding-bottom:1%;
  z-index:1;
 }
  
  .page1 a {
    text-decoration: none;
  }
  .page1 a:link{
  color:#000D6B;
  font-family: 'Sniglet', Arial;
  font-size:35px;}

  .page1 a:visited{
    color:#000D6B;
  }
  .page1 a:hover{
    color:white;
   }
  

   .page2 a {
    text-decoration: none;
    align-self: center;
  }
  .page2 a:link{
  color:#000D6B;
  font-family: 'Sniglet', Arial;
  font-size:35px;}

  .page2 a:visited{
    color:#000D6B;
  }
  .page2 a:hover{
    color:white;
   }
  
   .page3 a {
    text-decoration: none;
  }

  .page3 a:link{
  color:#000D6B;
  font-family: 'Sniglet', Arial;
  font-size:35px;}

  .page3 a:visited{
    color:#000D6B;
  }
  .page3 a:hover{
    color:white;
   }


 /*to adjust 'howtoplay' more to the centre*/
 .page2{
  margin-left:11%;
  position:relative;
}

/*positioning images*/
.page1{
  position: relative;
}
.page3{
  position: relative;
}

  .egg{
    display: block;
    width:15%;
    top:5%;
    left:10%;
    transform:rotate(-20deg);
    position:absolute;
  }

  .onion{
    display: block;
    width:15%;
    top:5%;
    left:75%;
    transform:rotate(20deg);
    position:absolute;
     margin-top:0;
   
  }

  /* styling introduction*/
  .intro{
    position:relative;
    margin:0;
    padding-top:3%;
    color: black;
    font-size:40px;
    text-align: center;
    font-family: 'Cabin',Arial, Helvetica;
    background-color: #FFCCD2;
    padding-left:2%;
    padding-right: 2%;
    
     }

.wegotu{
  padding-top:5%;
  padding-bottom:10%;
  font-size:60px;
  margin-bottom:0;
  font-family: 'Anton';
}


  
.confetti1{
  display:block;
  width:15%;
  top:50%;
  left:15%;
  position:absolute;

}

.confetti2{
  display:block;
  width:15%;
  top:50%;
  left:70%;
  transform:scaleX(-1);
  position:absolute;
}

  

/*styling about page*/
.about{
  background-color:#93D9A3;
  margin: 0;
  padding-bottom:5%;
}

.sentence{
  text-align:center;
  margin:0;
  font-size:35px;
  padding-top:5%;
  padding-bottom:5%;
  font-family: 'Cabin',Arial, Helvetica;
}

.screen{
  display:block;
  width: 50%;
  margin-bottom:0;
  margin-left: auto;
  margin-right:auto;
  
}




/*styling how2play page */
#howtopage{
  background-color: #FFCCD2;
  position:relative;
  padding-bottom:3%;
}

.how2play-title{
  padding:3%;
  text-align: center;
  font-family: 'Sniglet',Arial, Helvetica;
  margin:0;
  font-size:45px;
  color:#700B97;
  position:relative;
}


.steps{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  position:relative;

}


.flex-item{
  flex-direction: row ;
  background-color: darkorchid;
  margin-left:50px;
  padding-bottom:2%;
  font-family: 'Cabin',Arial, Helvetica, sans-serif;
  color: #FFCCD2;
  border-radius:10px;
  text-align: center;
  font-size:25px;
  flex: 0 0 auto;

}

.flex-item p{
  padding:2%;
}


.screen4{
 margin:0;
 width:50%;
padding-top:2%;
}

.screen5{

  width:50%;
  left:50%;
  padding-top:0;
  margin-top:0;
}


.carrot{
  width:15%;
  position:absolute;
  padding-left:2%;
}

.carrot1{
  width:9%;
  position:absolute;
  top:42%;
 left:201.3%;

}

/*styling download/merch page*/
#downloadmerch{
  position:relative;
  background-color: #93D9A3;}

/* download portion*/
.downloadd{
  padding:2%;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap; 
 background-color: #93D9A3;
 justify-content: center;
 margin-right:20px;
padding-bottom: 10%;
}

.downloadd img{
  width:20%;
  padding-left: 3%;
}

.download-item{margin-left:50px;}

.downloadd p{
  font-size:50px;
  font-family: 'Sniglet',Arial, Helvetica, sans-serif;
  color:#1E5128;
  animation:blinkingtext 1s infinite;
}

@keyframes blinkingtext{
  0%{     color: #1E5128; }
  49%{    color: #1E5128; }
  60%{    color: transparent; }
  99%{    color:transparent; }
  100%{   color: #1E5128;  }
}



.downloadlinks{
  background-color: #93D9A3;
}

.apple{
  position:absolute;
  display:inline-block;
  left:22%;
  width:15%;
  top:25%;
  box-shadow: 6px 6px rgb(128,128,128,0.5);
}

.google{
  position:absolute;
  width:15%;
  left:39%;
  top:25%;
  box-shadow: 6px 6px rgb(128,128,128,0.5);
}

.downloadlinks img:hover{
  opacity: 0.5;
  
}

/*stylying merch portion*/

.merch{
  padding-top:2%;
  background-color: #99DDCC;
  display:flex;
  flex-direction: column;
  }

.merch p{
  text-align: center;}


#sneakpeak{
  display:none;
  flex-direction: row;
  justify-content: center;
  background-color: #99DDCC;
}

#sneakpeak img{ 
  width: 15%;
  padding-bottom:3%;
  animation: shake 1s infinite;

}

@keyframes shake {
  0%{transform: rotate(-20deg);}
  50%{transform: rotate(20deg);}
  100%{transform: rotate(-20deg);}
}



.merchs1 a{
  font-size:50px;
  color:#3D56B2;
  font-family: 'Sniglet',Arial, Helvetica, sans-serif;
}

.merchs1 a:hover{
 color:white;
}
.merchs1 a:link{
  text-decoration:none;
}
#merchs2{
  
  font-family:'Cabin',Arial, Helvetica, sans-serif;
  color:#99DDCC;
  font-size:20px;
  width: 400px;  
  height: 70px;  
  background-color:#3D56B2 ;
  border-radius: 10px;
  margin-bottom: 5%;
  align-self: center;
  
}

#merchs2:hover{
  background-color:#99DDCC;
  color:#3D56B2 ;
}



/*footer*/
.footer{display:flex;
  background-color:#FFFA9D;
  font-family: 'Cabin',Arial, Helvetica;
  color:black;
  font-size:20px;
  
  }
  
  .contact{
  background-color: #FEE440;
  flex-basis:45%;
  padding-left:4%;
  padding-right:2%;}
  
  .contact a:link{
    font-family: 'Sniglet', Arial, Helvetica, sans-serif;
    color:#000D6B;
    text-decoration: none;
    font-size:30px;
  }
  
  .form{
  padding-left:4%;
  
  }
  
  button{
  font-family: 'Cabin',Arial, Helvetica;
  }


  /* media queries*/

  @media (max-width:992px){
  .page1 a:link{
    font-size:25px;
   
  }

  .page2 a:link{
    font-size:25px;
  }
  .page2{
    margin-left: 0%;
  }

  .page3 a:link{
    font-size:25px;
  }

  .intro{
   
   font-size:30px;
  }

  .confetti1{
    top:60%;
  }

  .confetti2{
    top:60%;
  }

  .sentence{
    font-size:20px;
    padding-left:2%;
    padding-right: 2%;
  }

  .how2play-title{
    font-size:30px;
  }
  .flex-item video{
    width: 300px;
    height:200px;
  }
  .flex-item{
    font-size:15px;
   margin-left:20px;
   width:450px;
   height:350px;
  }

  .screen4{
    width:80%;
  }

  .screen5{
    width:80%;
  }

  .downloadd p{
    font-size:38px;
    margin-right: 0%;
  }

  .downloadd{
    margin-right:0%;
  }

  .downloadd img{
    padding-top:4%;
    
    
  }
  .apple{
    top:25%;
  }

  .google{
    top:25%;
  }

  .merchs1 a{
    font-size: 38px;
  
  }

  .footer{
    font-size:20px;
  }

  .contact a:link{
    font-size:20px;
  }

  




}

@media (max-width:576px) {
  
  /* media query for nav link */
  .page1 a:link{
    font-size:15px;
   
  }

  .page2 a:link{
    font-size:15px;
  }
  .page2{
    margin-left: 0%;
  }

  .page3 a:link{
    font-size:15px;
  }
  
  .egg{
    top:3%;
  }

  .onion{
    top:3%;
  }
  
  .intro{
    font-size:18px;
    padding-left:2%;
    padding-right:2%;
  }

  .wegotu{
    font-size:25px
  }

  .confetti1{
    top:65%;
  }

  .confetti2{
    top:65%;
  }

  .sentence{
    font-size:12px;
    padding-left:2%;
    padding-right: 2%;
  }

  .how2play-title{
    font-size:25px;
  }
  .flex-item video{
    width: 200px;
    height:100px;
  }
  .flex-item{
    font-size:10px;
   margin-left:20px;
   width:300px;
   height:200px;
  }

  .screen4{
    width:70%;
  }

  .screen5{
    width: 70%;
  }
  
  
  .downloadd p{
    font-size:25px;
  }
  
  .download-item{
    margin-left:5px;
    margin-right:5px;
    margin-bottom:3%;
  
  }
  .apple{
    width:20%;
    top:26%;
    left:55%;
    box-shadow: 3px 3px rgb(128,128,128,0.5);
    margin-left:2%;
      }
  .google{
    width:20%;
    top:36%;
    box-shadow: 3px 3px rgb(128,128,128,0.5);
    left:57%;
    
  }
  .downloadd{
    padding-bottom:8%;
    margin-right:0%;
    padding-left:0%;
    padding-right:0%;
    flex-direction: column;
    align-content: center;
  }

  .merchs1 a{
    font-size: 25px;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  #merchs2{
    
    font-size:10px;
    width: 200px;  
    height: 40px;  
    border-radius: 10px;
  }
  
  .footer{
    font-size:10px;
  }
  .contact a:link{
    font-size:10px;
  }
  
  .form input{
    width:70%;
  }

}                                                                   