
/*style heading logo*/
.logo{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
padding-bottom:5%;}

div{background-color: #FFFA9D;
    }

/*style nav*/
.container1{ display:flex;
  justify-content:space-around;
  background-color:#FEE440;
  
  padding-top:1%;
  padding-bottom:1%;
  
  }
  /* style links*/
  a {
    text-decoration: none;
  }
  a:link{color:#000D6B;
  font-family: 'Sniglet', Arial;
  font-size:35px;}
  a:visited{color:#000D6B;}
  a:hover{color:white;
   }
  
 /*to adjust 'howtoplay' more to the centre*/
 .page2{margin-left:11%;
position:relative;}

/*positioning images*/
.page1{position: relative;
}
.page3{position: relative;}

  .egg{display: block;
   width:15%;
   top:5%;
  left:10%;
  transform:rotate(-20deg);
  position:absolute;
  ;}
  .onion{display: block;
    width:15%;
    top:5%;
   left:75%;
   transform:rotate(20deg);
   position:absolute;
   margin-top:0;
   
  }

  /* styling introduction*/
  .intro{
    position:relative;
    margin:0;
    padding-top:3%;
    color: black;
    font-size:40px;
    text-align: center;
    font-family: 'Cabin',Arial, Helvetica;
    background-color: #FFCCD2;
     }
  .wegotu{padding-top:5%;
  padding-bottom:10%;
font-size:60px;
margin-bottom:0;
font-family: 'Anton';}
  
.confetti1{display:block;
width:15%;
top:50%;
left:15%;
position:absolute;
}

.confetti2{display:block;
  width:15%;
  top:50%;
  left:70%;
  transform:scaleX(-1);
  position:absolute;}

  .screen{display:block;
  width:60%;
  margin-bottom:0;
  margin-left: auto;
  margin-right:auto;
}

/*styling main content of the about page*/
.about{background-color:#B1E693;

}

.sentence{text-align:center;
margin:0;
font-size:35px;
padding-top:10%;
padding-bottom:10%;
font-family: 'Cabin',Arial, Helvetica;

}

.button{
display:flex;
justify-content: center;
background-color: #B1E693;
padding-top:2%;
padding-bottom:5%;
}

/*footer*/
.footer{display:flex;
background-color:#753188;
font-family: 'Cabin',Arial, Helvetica;
color:whitesmoke;
font-size:25px;
}

.contact{
background-color: #998CEB;
flex-basis:45%;
padding-left:4%;
}


.form{
padding-left:4%;
}

button{
font-family: 'Cabin',Arial, Helvetica;
}